/* src/components/Navbar.css */
.bg-darkblue {
  background-color: #002366 !important;
}

.navbar .dropdown-menu {
  background-color: #003399;
  border: none;
  border-radius:0;
  box-shadow:0 4px 6px rgba(0,0,0,0.1);
  transition:opacity 0.2s ease-in-out;
  min-width: 200px;
  max-width: 250px;
  right: 0;
  left: auto;
  position: absolute;
  z-index: 1000;
}

.navbar .dropdown-item {
  color: #faf8f8;
  transition:background-color 0.2s;
}

.navbar .dropdown-item:hover {
  background-color: #598ffc;
}

.navbar .dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: 0;
}
.custom-collapse {
  background-color: #002366;
  width: fit-content;
  min-width: 250px;
  max-width: 90vw;
  border-radius: 6px;
  padding: 10px;
  margin-left: auto;
  margin-right: 0;
  position: absolute;
  top: 100%;
  right: 10px;
  z-index: 999;
}

@media (min-width: 992px) {
  .custom-collapse {
    position: static;
    width: auto;
    margin: 0;
    padding: 0;
    background: none;
  }
}

.logo-img {
  height: 40px; 
  width: auto;
  object-fit: contain;
}